/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
    background: url('../images/background.png') repeat;
}

#home {
    font-family: 'Vollkorn', serif;

}

#home p {
    font-family: sans-serif;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#hero {
    width:100%;
    color: #112;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height:100vh;
    display:table;
    text-align:center;
    background-image:url(../images/hero.jpg);
    background-size:cover;
    margin-bottom: 60px;
    background-position: 60% 40%;
}
#hero h1, #hero h2, #hero h3 {
    color:white;
}
#hero:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#hero-content {
    vertical-align: middle;
    display:inline-block;
}

#main {
    padding-bottom: 70px;
}

p, h1, h2 {
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size:75px;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size:35px;
    margin-bottom: 20px;
    font-style: italic;
}
h3 {
    text-align: center;
    font-size:45px;
    margin-bottom: 10px;
    margin-top:10px;
    font-style: italic;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
h4 {
    text-align: center;
    font-size:35px;
    margin-bottom: 10px;
    margin-top:10px;
    font-style: italic;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
h5{
    text-align: center;
    font-size:25px;
    margin-bottom: 10px;
    margin-top:10px;
    font-style: italic;
}

p {
    width: 90%;
    max-width: 25em;
    text-align: left;
    font-size:20px;
    line-height: 150%;
    margin-bottom: 2em;
}

.steps {
    width:100%;
    margin:50px auto 30px;
    text-align:center;
    color:#112;
    border-radius: 20px;
}

.step {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.step p {
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    .step {
        width: 100%;
        margin:0;
    }
    .step h3 {
        font-size: 38px;
    }
}

@media screen and (min-width: 600px) {
    #hero h1 {
        font-size:100px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #hero h2 {
        font-size:50px;
    }   
}

@media screen and (min-width: 800px) {
    #hero h1 {
        font-size:130px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #hero h2 {
        font-size:68px;
    }   
}






#mc_embed_signup {
    width: 85%;
    height: 120px;
    max-width: 700px;
    margin: 60px auto 60px;
}

#mc_embed_signup input[type=email] {
    font-size: 25px;
    width: 100%;
    display: block;
    height: 60px;
    border: 1px solid #22F;
    vertical-align: top;
    float: left;
    text-align: center;
}



#mc_embed_signup input[type=submit] {
    width: 100%;
    height: 60px;
    border: 0;
    display: block;
    font-family: sans-serif;
    background-color: #22F;
    color: white;
    font-size: 25px;
    vertical-align: top;
    float: right;
}

@media screen and (min-width: 600px) {
    #mc_embed_signup {
        width: 85%;
        height: 60px;
        max-width: 700px;
        margin: 60px auto 60px;
    }

    #mc_embed_signup input[type=email] {
        font-size: 25px;
        width: 70%;
        display: block;
        height: 60px;
        border: 1px solid #22F;
        vertical-align: top;
        float: left;
        text-align: left;
    }

    #mc_embed_signup input[type=submit] {
        width: 30%;
        height: 60px;
        border: 0;
        display: block;
        font-family: sans-serif;
        background-color: #22F;
        color: white;
        font-size: 25px;
        vertical-align: top;
        float: right;
    }
}

.indicates-required {
    text-align: right;
    font-size: small;
}

#mc_embed_signup label {
    display: inline-block;
    width: 200px;
    font-size: 25px;
}

.mc-field-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mc-field-group input {
    padding: 10px;
    width: 100%;
}

#mc-embedded-subscribe {
}

.picture {
    display:block;
    width:200px;
    height:200px;
    margin: 0px auto;
    float:none;
}

.words {
    width:100%;
    float:none;
    padding-top:20px;
}
.words h4 {
    text-align:left;
}
.details {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}
.details p {
    width: 100%;
    margin-right:0px;
}
.detail:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (min-width: 600px) {
    .picture {
        display:block;
        width:200px;
        height:200px;
        float:left;
    }

    .words {
        width:400px;
        width: calc(100% - 220px);
        float:right;
    }
}

#mc_embed_signup.second_signup {
    margin-bottom: 120px;
}

#profiles {
    text-align: center;
}
#profiles img {
    margin: 20px;
    border-radius:999px;
}

.fullimage {
    width:100%;
}
.fullimage img {
    width:100%;
}

