/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

#home {
    font-family: 'Vollkorn', serif;

}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#hero {
    width:100%;
    color: #112;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height:100vh;
    display:table;
    text-align:center;
}

#hero:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#hero-content {
    vertical-align: middle;
    display:inline-block;
}

#main {
    padding-bottom: 70px;
}

p, h1, h3 {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size:75px;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size:35px;
    margin-bottom: 20px;
    font-style: italic;
}
h4 {
    text-align: center;
    font-size:35px;
    margin-bottom: 10px;
    margin-top:10px;
    font-style: italic;
}
h5{
    text-align: center;
    font-size:25px;
    margin-bottom: 10px;
    margin-top:10px;
    font-style: italic;
}

p {
    max-width: 25em;
    text-align: left;
    font-size:20px;
    line-height: 150%;
}

#steps {
    width:100%;
    margin:50px auto 30px;
    text-align:center;
    color:#112;
    border-radius: 20px;
}

.step {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right:20px;
}

.step p {
    font-size: 18px;
}

@media screen and (min-width: 800px) {
    #hero h1 {
        font-size:130px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #hero h3 {
        font-size:68px;
    }   
}


#mc_embed_signup {
    width: 95%;
    max-width: 400px;
    margin: 20px auto 80px;
}

.indicates-required {
    text-align: right;
    font-size: small;
}

#mc_embed_signup label {
    display: inline-block;
    width: 200px;
    font-size: 25px;
}

.mc-field-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mc-field-group input {
    padding: 10px;
    width: 100%;
}

#mc-embedded-subscribe {
    width: 70%;
    height: 70px;
    border: 0;
    border-radius: 10px;
    display: block;
    margin: 40px auto;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    background-color: #22F;
    color:white;
}

